__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
.env

.streamlit/
.pytest_cache/
.mypy_cache/

logs/
reports/
results/

data/

Microsoft/

New Text Document.txt
clean_out.txt
test_output.txt
test_results.txt
test_results2.txt
test_results3.txt
